In [ ]:
# TODO
# add upper slessor lakes (get outlines from matt)
# add PIG and AP lakes (find citations) if not too close to grounding line

In [1]:
# Sauthoff2023_outlines collates Antarctic active subglacial lakes from past outline inventories 
# (Smith and others, 2009; Siegfried & Fricker, 2018) as well as point data of lakes in the latest inventory 
# (Livingstone and others, 2022) as well as individual studies since.
#
# Written 2023-01-17 by W. Sauthoff (sauthoff@mines.edu)

# Import internal packages
import os

# Import external packages
from shapely.geometry import Point
# from shapely import Point
from pyproj import CRS, Geod, Transformer

# define data and script directories dependent on home environment
if os.getenv('HOME') == '/home/jovyan':
    DATA_DIR = '/home/jovyan/data_dir'
    SCRIPT_DIR = '/home/jovyan/repos_my/script_dir'
elif os.getenv('HOME') == '/Users/Wilson': 
    DATA_DIR = '/Volumes/ExtremeSSD/data'
    SCRIPT_DIR = '/Users/Wilson/Documents/0-code/repos_my/script_dir'

# define utility functions
def ll2ps(lon, lat):
    """
    Transform coordinates from geodetic coordinates (lon, lat)
    to Antarctic Polar Stereograph coordinates (x, y)
    x, y = ll2ps(lon, lat)
    """
    crs_ll = CRS("EPSG:4326")
    crs_xy = CRS("EPSG:3031")
    ll_to_xy = Transformer.from_crs(crs_ll, crs_xy, always_xy = True)
    x, y = ll_to_xy.transform(lon, lat)
    return x, y

def ps2ll(x, y):
    """
    Transform coordinates from Antarctic Polar Stereograph
    to geodetic (lon, lat) coordinates
    
    lon, lat = ps2ll(x, y)
    """
    crs_ll = CRS("EPSG:4326")
    crs_xy = CRS("EPSG:3031")
    xy_to_ll = Transformer.from_crs(crs_xy, crs_ll, always_xy = True)
    lon, lat = xy_to_ll.transform(x, y)
    return lon, lat

In [2]:
# Import Smith and others (2009) inventory of subglacial lake outlines 
outlines = open(SCRIPT_DIR + '/Smith2009_outlines.py')
read_file = outlines.read()
exec(read_file)

# Display dataframe preview
Smith2009_outlines

,Name,Description,geometry
0,Bindschadler_1,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((-792264.327 -691480.857 1.000, -79..."
1,Bindschadler_2,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((-842788.063 -708464.240 1.000, -84..."
2,Bindschadler_3,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((-874893.221 -654533.044 1.000, -87..."
3,Bindschadler_4,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((-828821.778 -584874.415 1.000, -82..."
4,Bindschadler_5,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((-858067.460 -573467.564 1.000, -85..."
...,...,...,...
119,Whillans_6,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((-451544.869 -488823.261 1.000, -45..."
120,Whillans_7,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((-543163.376 -500759.165 1.000, -54..."
121,Whillans_8,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((-654478.748 -281124.560 1.000, -65..."
122,Wilkes_1,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((2214185.180 -666018.604 1.000, 221..."
123,Wilkes_2,<table border=1 width='100%' > <tr><td><bf>Cam...,"POLYGON Z ((1985649.483 -1222665.850 1.000, 19..."

In [3]:
# Import Siegfried & Fricker (2018) inventory of subglacial lake outlines 
outlines = open(SCRIPT_DIR + '/SiegfriedFricker2018_outlines.py')
read_file = outlines.read()
exec(read_file)

# Display dataframe preview
SiegfriedFricker2018_outlines

,name,geometry,area (m^2),perimeter (m),cite
0,Bindschadler_1,"POLYGON ((-792264.327 -691480.857, -791281.458...",1.943146e+08,51147.562479,"Smith and others, 2009, J. Glac., doi:10.3189/..."
1,Bindschadler_2,"POLYGON ((-842788.063 -708464.240, -842354.948...",1.072249e+08,37249.152584,"Smith and others, 2009, J. Glac., doi:10.3189/..."
2,Bindschadler_3,"POLYGON ((-874893.221 -654533.044, -876415.673...",1.404559e+08,44183.483257,"Smith and others, 2009, J. Glac., doi:10.3189/..."
3,Bindschadler_4,"POLYGON ((-828821.778 -584874.415, -828822.032...",2.816411e+08,62680.016773,"Smith and others, 2009, J. Glac., doi:10.3189/..."
4,Bindschadler_5,"POLYGON ((-858067.460 -573467.564, -858714.391...",3.923966e+08,73686.203194,"Smith and others, 2009, J. Glac., doi:10.3189/..."
...,...,...,...,...,...
126,Whillans_6,"POLYGON ((-451544.869 -488823.261, -451209.964...",7.458477e+07,31952.842516,"Smith and others, 2009, J. Glac., doi:10.3189/..."
127,Whillans_7,"POLYGON ((-543163.376 -500759.165, -542800.367...",7.696570e+07,32373.996995,"Smith and others, 2009, J. Glac., doi:10.3189/..."
128,Whillans_8,"POLYGON ((-654478.748 -281124.560, -653777.327...",1.625714e+08,45873.974279,"Smith and others, 2009, J. Glac., doi:10.3189/..."
129,Wilkes_1,"POLYGON ((2214185.180 -666018.604, 2214317.389...",5.880773e+08,89565.314574,"Smith and others, 2009, J. Glac., doi:10.3189/..."
130,Wilkes_2,"POLYGON ((1985649.483 -1222665.850, 1986964.16...",1.766583e+08,48307.837257,"Smith and others, 2009, J. Glac., doi:10.3189/..."

In [4]:
# Read in spreadsheet using pandas read_excel
url = 'https://static-content.springer.com/esm/art%3A10.1038%2Fs43017-021-00246-9/MediaObjects/43017_2021_246_MOESM1_ESM.xlsx'
use_cols = ['Name', 'Lat.  oN', 'Lon. oE', 'Lake Type', 'References', 'Prior Inventory']
import_rows = np.arange(0,676)
Livingstone2022_points = pd.read_excel(url, sheet_name='Antarctica', usecols=use_cols, skiprows = lambda x: x not in import_rows)

# View just the active lakes of the pandas dataset
Livingstone2022_points_activelakes = Livingstone2022_points[Livingstone2022_points['Lake Type'] == 'Active']
Livingstone2022_points_activelakes = Livingstone2022_points_activelakes.reset_index(drop=True)
Livingstone2022_points_activelakes

,Name,Lat. oN,Lon. oE,Lake Type,References,Prior Inventory
0,Bindschadler5,-80.610,-123.994,Active,Gray et al. (2005); Smith et al. (2009),Wright & Siegert (2012)
1,Kamb10,-81.446,-120.134,Active,Gray et al. (2005); Smith et al. (2009),Wright & Siegert (2012)
2,L1,-74.000,133.270,Active,Wingham et al. (2006); Surveyed by ICECAP in 2...,Wright & Siegert (2012)
3,U1,-75.940,135.000,Active,Wingham et al. (2006),Wright & Siegert (2012)
4,U2,-76.340,135.770,Active,Wingham et al. (2006),Wright & Siegert (2012)
...,...,...,...,...,...,...
134,THW142,-76.618,-106.185,Active,Smith et al. (2017); Hoffman et al. (2020); Ma...,NaN
135,THW124,-76.462,-106.893,Active,Smith et al. (2017) and Hoffman et al. (2020).,NaN
136,THW70,-75.990,-107.023,Active,Smith et al. (2017) and Hoffman et al. (2020).,NaN
137,WT,-77.300,-114.000,Active,Hoffman et al. (2020).,NaN
138,HG,-75.900,-111.000,Active,Hoffman et al. (2020).,NaN

In [5]:
# Isolate lakes not previously included in Smith and others (2009; 2017) or Siegfried and Fricker (2018)
Livingstone2022_points_activelakes_new = Livingstone2022_points_activelakes.copy(deep=True)
Livingstone2022_points_activelakes_new.drop(Livingstone2022_points_activelakes_new.loc[Livingstone2022_points_activelakes['References'].str.contains('Smith et al.|Siegfried & Fricker')].index, inplace=True)
Livingstone2022_points_activelakes_new = Livingstone2022_points_activelakes_new.reset_index(drop=True)
# print(len(Livingstone2022_points_activelakes_new))
Livingstone2022_points_activelakes_new

,Name,Lat. oN,Lon. oE,Lake Type,References,Prior Inventory
0,L1,-74.000,133.270,Active,Wingham et al. (2006); Surveyed by ICECAP in 2...,Wright & Siegert (2012)
1,U1,-75.940,135.000,Active,Wingham et al. (2006),Wright & Siegert (2012)
2,U2,-76.340,135.770,Active,Wingham et al. (2006),Wright & Siegert (2012)
3,U3,-76.680,135.930,Active,Wingham et al. (2006),Wright & Siegert (2012)
4,Byrd1 (DL),-81.026,148.302,Active,"Stearns et al., (2008)",Wright & Siegert (2012)
5,Byrd2 (UL),-80.684,146.887,Active,"Stearns et al., (2008)",Wright & Siegert (2012)
6,“Site A”,-67.800,112.540,Active,N. Young (personal comm.),Wright & Siegert (2012)
7,“Site B”,-67.870,113.530,Active,N. Young (personal comm.),Wright & Siegert (2012)
8,“Site C”,-67.840,114.040,Active,N. Young (personal comm.),Wright & Siegert (2012)
9,WT,-77.300,-114.000,Active,Hoffman et al. (2020).,NaN
10,HG,-75.900,-111.000,Active,Hoffman et al. (2020).,NaN

In [13]:
# Copy Siegfried & Fricker (2018) outline inventory to add entries from more recent publications
Sauthoff2023_outlines = SiegfriedFricker2018_outlines.copy(deep=True)

# Add new column and populate with whether lake is within CryoSat-2 (CS2) InSAR coverage
Sauthoff2023_outlines['CS2_SARIn'] = np.where(Sauthoff2023_outlines['name'].isin(CS2SARIn_lakes),'True', 'False')

# Display dataframe preview
Sauthoff2023_outlines

,name,geometry,area (m^2),perimeter (m),cite,CS2_SARIn
0,Bindschadler_1,"POLYGON ((-792264.327 -691480.857, -791281.458...",1.943146e+08,51147.562479,"Smith and others, 2009, J. Glac., doi:10.3189/...",False
1,Bindschadler_2,"POLYGON ((-842788.063 -708464.240, -842354.948...",1.072249e+08,37249.152584,"Smith and others, 2009, J. Glac., doi:10.3189/...",False
2,Bindschadler_3,"POLYGON ((-874893.221 -654533.044, -876415.673...",1.404559e+08,44183.483257,"Smith and others, 2009, J. Glac., doi:10.3189/...",False
3,Bindschadler_4,"POLYGON ((-828821.778 -584874.415, -828822.032...",2.816411e+08,62680.016773,"Smith and others, 2009, J. Glac., doi:10.3189/...",False
4,Bindschadler_5,"POLYGON ((-858067.460 -573467.564, -858714.391...",3.923966e+08,73686.203194,"Smith and others, 2009, J. Glac., doi:10.3189/...",False
...,...,...,...,...,...,...
126,Whillans_6,"POLYGON ((-451544.869 -488823.261, -451209.964...",7.458477e+07,31952.842516,"Smith and others, 2009, J. Glac., doi:10.3189/...",True
127,Whillans_7,"POLYGON ((-543163.376 -500759.165, -542800.367...",7.696570e+07,32373.996995,"Smith and others, 2009, J. Glac., doi:10.3189/...",True
128,Whillans_8,"POLYGON ((-654478.748 -281124.560, -653777.327...",1.625714e+08,45873.974279,"Smith and others, 2009, J. Glac., doi:10.3189/...",False
129,Wilkes_1,"POLYGON ((2214185.180 -666018.604, 2214317.389...",5.880773e+08,89565.314574,"Smith and others, 2009, J. Glac., doi:10.3189/...",False
130,Wilkes_2,"POLYGON ((1985649.483 -1222665.850, 1986964.16...",1.766583e+08,48307.837257,"Smith and others, 2009, J. Glac., doi:10.3189/...",False

In [14]:
# Change journal abbreviations to ISO4 standard
# First look at citations
Sauthoff2023_outlines['cite'].unique()

array(['Smith and others, 2009, J. Glac., doi:10.3189/002214309789470879',
       'Fricker & Scambos, 2009, J. Glac., doi:10.3189/002214309788608813',
       'McMillan and others, 2013, GRL, doi:10.1002/grl.50689',
       'Kim and others, 2016, TC, doi:10.5194/tc-10-2971-2016',
       'Carter and others, 2013, J. Glac., doi:10.3189/2013JoG13J085',
       'Fricker and others, 2010, J. Glac., doi:10.3189/002214310791968557',
       'Fricker and others, 2014, J. Glac., doi:10.3189/2014JoG14J063',
       'Siegfried & Fricker, 2018, Ann. Glac., doi:10.1017/aog.2017.36',
       'Smith and others, 2017, TC, doi:10.5194/tc-11-451-2017'],
      dtype=object)

In [15]:
# Replace with Cryosphere
Sauthoff2023_outlines = Sauthoff2023_outlines.replace('Kim and others, 2016, TC, doi:10.5194/tc-10-2971-2016', 'Kim and others, 2016, Cryosphere, doi:10.5194/tc-10-2971-2016')
Sauthoff2023_outlines = Sauthoff2023_outlines.replace('Smith and others, 2017, TC, doi:10.5194/tc-11-451-2017', 'Smith and others, 2017, Cryosphere, doi:10.5194/tc-11-451-2017')
# Replace GRL with Geophys. Res. Lett.
Sauthoff2023_outlines = Sauthoff2023_outlines.replace('McMillan and others, 2013, GRL, doi:10.1002/grl.50689', 'McMillan and others, 2013, Geophys. Res. Lett., doi:10.1002/grl.50689')
# Ensure replacements worked as expected
Sauthoff2023_outlines['cite'].unique()

array(['Smith and others, 2009, J. Glac., doi:10.3189/002214309789470879',
       'Fricker & Scambos, 2009, J. Glac., doi:10.3189/002214309788608813',
       'McMillan and others, 2013, Geophys. Res. Lett., doi:10.1002/grl.50689',
       'Kim and others, 2016, Cryosphere, doi:10.5194/tc-10-2971-2016',
       'Carter and others, 2013, J. Glac., doi:10.3189/2013JoG13J085',
       'Fricker and others, 2010, J. Glac., doi:10.3189/002214310791968557',
       'Fricker and others, 2014, J. Glac., doi:10.3189/2014JoG14J063',
       'Siegfried & Fricker, 2018, Ann. Glac., doi:10.1017/aog.2017.36',
       'Smith and others, 2017, Cryosphere, doi:10.5194/tc-11-451-2017'],
      dtype=object)

In [17]:
# Add entries for newer lakes from publications not included in Siegfried & Fricker (2018)  inventory 
# (using approx centroid point when outline is unavailable)

# Smith 2009 Recovery_8 (dropped from Siegfried & Fricker (2018) outlines) to see if there's activity
# Find lake name, index and store its polygon
name = Smith2009_outlines[Smith2009_outlines['Name'] == 'Recovery_8'].Name.values[0]
idx = Smith2009_outlines_lonlat[Smith2009_outlines_lonlat['Name'] == 'Recovery_8'].index[0]
lake = Smith2009_outlines[Smith2009_outlines['Name'] == 'Recovery_8'].geometry[idx]
# S09 outline inventory uses 3D polygons with z dimension vs. 2D polygons in SF18 inventory
# Extract the point values that define the perimeter of the polygon to make polygon without third z dimension
outline_x, outline_y = lake.exterior.coords.xy
poly = Polygon(zip(outline_x,outline_y))
geometry = poly
# Find geodesic area and perimeter, first specifying a named ellipsoid
geod = Geod(ellps="WGS84")
area = abs(geod.geometry_area_perimeter(lake)[0])
perim = abs(geod.geometry_area_perimeter(lake)[1])
# Store citation info from another lake from the same S09 study in the SF18 citation format
cite = SiegfriedFricker2018_outlines[SiegfriedFricker2018_outlines['name'] == 'Bindschadler_1'].cite.values[0]
# Make entry into pandas dataframe to concatenate to inventory
df = pd.DataFrame([[name, geometry, area, perim, cite, 'False']], columns=Sauthoff2023_outlines.columns)
# Ensure that new entry isn't already in inventory before adding
df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
# Add entry to inventory
Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)

# Livingstone and others, 2022 active lakes points (no outlines available):
# Wingham and others, 2006 (within Livingstone and others, 2022 inventory)
for i in range(0, 4):
    name = Livingstone2022_points_activelakes_new.iloc[i]['Name']
    lon = Livingstone2022_points_activelakes_new.iloc[i]['Lon. oE']
    lat = Livingstone2022_points_activelakes_new.iloc[i]['Lat.  oN']
    geometry = Point(ll2ps(lon, lat))
    area = 'na'
    perim = 'na'
    cite = 'Wingham and others, 2006, Nature, doi:10.1038/nature04660'
    CS2_SARIn = 'False'
    # Make entry into pandas dataframe to concatenate to inventory
    df = pd.DataFrame([[name, geometry, area, perim, cite, CS2_SARIn]], columns=Sauthoff2023_outlines.columns)
    # Ensure that new entry isn't already in inventory before adding
    df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
    # Add entry to inventory
    Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)
    
# N. Young personal comm. (within Wright & Siegert, 2012 and Livingstone and others, 2022 inventories)
for i in range(6, 9):
    name = Livingstone2022_points_activelakes_new.iloc[i]['Name']
    lon = Livingstone2022_points_activelakes_new.iloc[i]['Lon. oE']
    lat = Livingstone2022_points_activelakes_new.iloc[i]['Lat.  oN']
    geometry = Point(ll2ps(lon, lat))
    area = 'na'
    perim = 'na'
    cite = 'Wright & Siegert, 2012, Antarct. Sci., doi:10.1017/S095410201200048X'
    CS2_SARIn = 'True'
    # Make entry into pandas dataframe to concatenate to inventory
    df = pd.DataFrame([[name, geometry, area, perim, cite, CS2_SARIn]], columns=Sauthoff2023_outlines.columns)
    # Ensure that new entry isn't already in inventory before adding
    df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
    # Add entry to inventory
    Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)

# Hoffman and others, 2020 (within Livingstone and others, 2022 inventory)
# Western Thwaites (WT) lake
for i in range(9, 10):
    name = Livingstone2022_points_activelakes_new.iloc[i]['Name']
    lon = Livingstone2022_points_activelakes_new.iloc[i]['Lon. oE']
    lat = Livingstone2022_points_activelakes_new.iloc[i]['Lat.  oN']
    geometry = Point(ll2ps(lon, lat))
    area = 'na'
    perim = 'na'
    cite = 'Hoffman and others, 2020, Cryosphere, doi:10.5194/tc-14-4603-2020'
    CS2_SARIn = 'True'
    # Make entry into pandas dataframe to concatenate to inventory
    df = pd.DataFrame([[name, geometry, area, perim, cite, CS2_SARIn]], columns=Sauthoff2023_outlines.columns)
    # Ensure that new entry isn't already in inventory before adding
    df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
    # Add entry to inventory
    Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)

# Livingstone and others, 2022 inventory contains a point for Haynes Glacier system of four active lakes detailed in 
# Hoffman and others, 2020; however, only one point for four lakes and point is adjacent to four lakes, not one of four lakes, so adding manually
# Haynes Glacier (HG) lakes point location estimated from Hoffman and others, 2020 supplement Fig. S1 (https://doi.org/10.5194/tc-14-4603-2020-supplement)
# TL96
name = 'TL96'
geometry = Point(-1439000, -544000)
area = 'na'
perim = 'na'
cite = 'Hoffman and others, 2020, Cryosphere, doi:10.5194/tc-14-4603-2020'
CS2_SARIn = 'True'
# Make entry into pandas dataframe to concatenate to inventory
df = pd.DataFrame([[name, geometry, area, perim, cite, CS2_SARIn]], columns=Sauthoff2023_outlines.columns)
# Ensure that new entry isn't already in inventory before adding
df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
# Add entry to inventory
Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)

# TL108
name = 'TL108'
geometry = Point(-1427500, -542000)
# Make entry into pandas dataframe to concatenate to inventory
df = pd.DataFrame([[name, geometry, area, perim, cite, CS2_SARIn]], columns=Sauthoff2023_outlines.columns)
# Ensure that new entry isn't already in inventory before adding
df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
# Add entry to inventory
Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)

# TL115
name = 'TL115'
geometry = Point(-1422500, -537500)
# Make entry into pandas dataframe to concatenate to inventory
df = pd.DataFrame([[name, geometry, area, perim, cite, CS2_SARIn]], columns=Sauthoff2023_outlines.columns)
# Ensure that new entry isn't already in inventory before adding
df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
# Add entry to inventory
Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)

# TL122
name = 'TL122'
geometry = Point(-1419000, -532500)
# Make entry into pandas dataframe to concatenate to inventory
df = pd.DataFrame([[name, geometry, area, perim, cite, CS2_SARIn]], columns=Sauthoff2023_outlines.columns)
# Ensure that new entry isn't already in inventory before adding
df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
# Add entry to inventory
Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)

# Siegfried and Fricker, 2021 (new publication not included in Livingstone and others, 2022 inventory)
# Lower Subglacial Lake Mercer (LSLM)
name = 'LowerMercerSubglacialLake'
geometry = Point(-308667.1, -509669.9)
area = 'na'
perim = 'na'
cite = 'Siegfried and Fricker, 2021, Geophys. Res. Lett., doi:10.1029/2020GL091089'
CS2_SARIn = 'True'
# Make entry into pandas dataframe to concatenate to inventory
df = pd.DataFrame([[name, geometry, area, perim, cite, CS2_SARIn]], columns=Sauthoff2023_outlines.columns)
# Ensure that new entry isn't already in inventory before adding
df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
# Add entry to inventory
Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)

# Lower Subglacial Lake Conway (LSLC)
name = 'LowerSubglacialLakeConway'
geometry = Point(-283073.4, -504430.9)
area = 'na'
perim = 'na'
cite = 'Siegfried and Fricker, 2021, Geophys. Res. Lett., doi:10.1029/2020GL091089'
CS2_SARIn = 'True'
# Make entry into pandas dataframe to concatenate to inventory
df = pd.DataFrame([[name, geometry, area, perim, cite, CS2_SARIn]], columns=Sauthoff2023_outlines.columns)
# Ensure that new entry isn't already in inventory before adding
df_diff = df[~df['name'].isin(Sauthoff2023_outlines['name'])]
# Add entry to inventory
Sauthoff2023_outlines = pd.concat([Sauthoff2023_outlines, df_diff], ignore_index=True)

# Drop outlines from Sauthoff2023_outlines that are duplicative of SiegfiedFricker2018_outlines
Sauthoff2023_S23outlines = Sauthoff2023_outlines.copy(deep=True)
Sauthoff2023_S23outlines.drop(Sauthoff2023_S23outlines.iloc[0:131].index, inplace=True)

# Sort geopandas geodataframe to alphabetize by lake name and reset index
Sauthoff2023_outlines = Sauthoff2023_outlines.sort_values(by=['name'],ignore_index=True)

# Display dataframe preview
Sauthoff2023_outlines

,name,geometry,area (m^2),perimeter (m),cite,CS2_SARIn
131,Recovery_8,"POLYGON ((-74016.771 896653.746, -73507.172 89...",NaN,NaN,"Smith and others, 2009, J. Glac., doi:10.3189/...",False
132,L1,POINT (1273770.727 -1199082.221),na,na,"Wingham and others, 2006, Nature, doi:10.1038/...",False
133,U1,POINT (1085448.426 -1085448.426),na,na,"Wingham and others, 2006, Nature, doi:10.1038/...",False
134,U2,POINT (1040017.716 -1068353.903),na,na,"Wingham and others, 2006, Nature, doi:10.1038/...",False
135,U3,POINT (1010990.830 -1044355.237),na,na,"Wingham and others, 2006, Nature, doi:10.1038/...",False
136,“Site A”,POINT (2255000.417 -935896.682),na,na,"Wright & Siegert, 2012, Antarct. Sci., doi:10....",True
137,“Site B”,POINT (2231263.202 -971570.334),na,na,"Wright & Siegert, 2012, Antarct. Sci., doi:10....",True
138,“Site C”,POINT (2225613.155 -992769.171),na,na,"Wright & Siegert, 2012, Antarct. Sci., doi:10....",True
139,WT,POINT (-1265566.674 -563466.587),na,na,"Hoffman and others, 2020, Cryosphere, doi:10.5...",True
140,TL96,POINT (-1439000.000 -544000.000),na,na,"Hoffman and others, 2020, Cryosphere, doi:10.5...",True
141,TL108,POINT (-1427500.000 -542000.000),na,na,"Hoffman and others, 2020, Cryosphere, doi:10.5...",True
142,TL115,POINT (-1422500.000 -537500.000),na,na,"Hoffman and others, 2020, Cryosphere, doi:10.5...",True
143,TL122,POINT (-1419000.000 -532500.000),na,na,"Hoffman and others, 2020, Cryosphere, doi:10.5...",True
144,LowerMercerSubglacialLake,POINT (-308667.100 -509669.900),na,na,"Siegfried and Fricker, 2021, Geophys. Res. Let...",True
145,LowerSubglacialLakeConway,POINT (-283073.400 -504430.900),na,na,"Siegfried and Fricker, 2021, Geophys. Res. Let...",True

In [ ]:
# Code to to explore and reconcile outline inventories

In [ ]:
Smith2009_outlines

In [ ]:
for idx in range(len(SiegfriedFricker2018_outlines['cite'].unique())): 
    length = len(SiegfriedFricker2018_outlines[SiegfriedFricker2018_outlines['cite'].str.contains(SiegfriedFricker2018_outlines['cite'].unique()[idx])])
    print(SiegfriedFricker2018_outlines['cite'].unique()[idx])
    print(length)

In [ ]:
SiegfriedFricker2018_outlines[SiegfriedFricker2018_outlines['cite'] == 'Fricker & Scambos, 2009, J. Glac., doi:10.3189/002214309788608813']

In [ ]:
SiegfriedFricker2018_outlines[SiegfriedFricker2018_outlines['cite'] == 'McMillan and others, 2013, GRL, doi:10.1002/grl.50689']

In [ ]:
SiegfriedFricker2018_outlines[SiegfriedFricker2018_outlines['cite'] == 'Kim and others, 2016, TC, doi:10.5194/tc-10-2971-2016']

In [ ]:
SiegfriedFricker2018_outlines[SiegfriedFricker2018_outlines['cite'] == 'Carter and others, 2013, J. Glac., doi:10.3189/2013JoG13J085']

In [ ]:
SiegfriedFricker2018_outlines[SiegfriedFricker2018_outlines['cite'] == 'Fricker and others, 2010, J. Glac., doi:10.3189/002214310791968557']

In [ ]:
SiegfriedFricker2018_outlines[SiegfriedFricker2018_outlines['cite'] == 'Fricker and others, 2014, J. Glac., doi:10.3189/2014JoG14J063']

In [ ]:
SiegfriedFricker2018_outlines[SiegfriedFricker2018_outlines['cite'] == 'Siegfried & Fricker, 2018, Ann. Glac., doi:10.1017/aog.2017.36']

In [ ]:
# Siegfried and Fricker, 2018 only containing 97 Smith and others, 2009 citations due to: 
# 124 lakes in Smith and others, 2009, J. Glac., doi:10.3189/002214309789470879
# -7 Fricker & Scambos, 2009, J. Glac., doi:10.3189/002214309788608813 redelineates Mercer/Whillans lakes
# -8 Fricker and others, 2010, J. Glac., doi:10.3189/002214310791968557 redelineates MacAyeal Ice Stream lakes (BUT ONLY 3 
# -1 Carter and others, 2013, J. Glac., doi:10.3189/2013JoG13J085 redelineates Mercer_1 as Lake78
# -9 Fricker and others, 2014, J. Glac., doi:10.3189/2014JoG14J063 redelineates Recovery Glacier lakes
# -2 Siegfried & Fricker, 2018, Ann. Glac., doi:10.1017/aog.2017.36 redelineates Slessor2 and Slessor3 as Slessor23
# 97 citations to Smith and others, 2009, J. Glac., doi:10.3189/002214309789470879 in Siegfried and Fricker, 2018 inventory

In [ ]:
for idx in range(len(Livingstone2022_points_activelakes['References'].unique())): 
    length = len(Livingstone2022_points_activelakes[Livingstone2022_points_activelakes['References'].str.contains(Livingstone2022_points_activelakes['References'].unique()[idx], regex=False)])
    print(Livingstone2022_points_activelakes['References'].unique()[idx])
    print(length)

In [ ]:
Livingstone2022_points_activelakes.loc[Livingstone2022_points_activelakes['References'].str.contains('Smith et al. (2009)', regex=False)]

In [ ]:
SiegfriedFricker2018_outlines['name'].tolist()

In [ ]:
# add rows for lake candidates I've observed in ICESat-2 data (using approx centroid point until outline is established)
# New observation at ~–450 km, –540 km (polar stereographic x, y)
# Sauthoff2023_outlines.loc[len(Sauthoff2023_outlines)] = ['lower_Whillans6', 'POINT (-450000, -540000)', 'nan', 'nan', 'Sauthoff and others, in prep', 'True'] 

# display dataframe preview
Sauthoff2023_outlines